# Ambientes Virtuais
.venv/
venv/
env/

# Python
__pycache__/
*.pyc

# Configuração de IDE
.vscode/

# Arquivos de Sistema
.DS_Store
**/.DS_Store

# DADOS
# Ajustado para os nomes reais das pastas (com espaço " level")

# Ignora tudo dentro de bronze, silver e gold level
data/bronze level/*
data/silver level/*
data/gold level/*

# Mantém os arquivos .gitkeep (exceção específica por pasta)
!data/bronze level/.gitkeep
!data/silver level/.gitkeep
!data/gold level/.gitkeep

# Garantia extra: Ignorar arquivos pesados onde quer que estejam
*.csv
*.npy
*.zip